* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:burlywood;
  }
  
  header {
    background-color: #333;
    color: aqua;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  header .logo h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color:aquamarine;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #e74c3c;
  }
  
  section {
    padding: 2rem 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #menu {
    background-color:#c0392b;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .menu-item {
    width: 30%;
    background-color: chocolate;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .menu-item h3 {
    margin-top: 10px;
  }
  
  .menu-item span {
    font-size: 1.2rem;
    color: black;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: darkgrey;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    margin-bottom: 8px;
  }
  
  form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    color:blanchedalmond;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #c0392b;
  }
  
  footer {
    background-color: #333;
    color:cornflowerblue;
    text-align: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  
